body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#mensaje {
  text-align: center;
}